/* Responsive changes for different screen */

@media only screen and (max-width:726px) {
    
    .principles .item_of_principles,
    .expertise .name_of_expertise,
    .appearances .appearances_item {
        float: none;
        width: 100%;
        margin-bottom: 2em;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .clients .item_of_clients {
        width: 25%;
    }
    
    .philosophy {
        
        .philosophy_list {
            width: 32.08%;
            
            &:nth-child(4),
            &:nth-child(8) {
                margin-right: 1.25%;
            }
        }
        
        .nine_element {
            display: block;
        }
    }
    
}





@media only screen and (max-width:520px) {
    .clients .item_of_clients {
        width: 33.3%;
    }
    
    .philosophy {
        
        .philosophy_list {
            width: 47%;
            
            &:nth-child(4),
            &:nth-child(8) {
                margin-right: 1.25%;
            }
        }
        
        .nine_element {
            display: none;
        }
    }
    
    
    
    .contact {
        
        .contact_follow,
        .contact_talk {
            float: none;
            width: 100%;
            text-align: left;
        }
    }
}



@media only screen and (max-width:451px) {
    
    .clients .item_of_clients {
        width: 50%;
    }
}




@media only screen and (max-width:268px) {
    
    .philosophy {
        
        .philosophy_list {
            width: 98%;
            
            margin: 0;
            margin-top: 1.25%

        }
    }
}