@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular.eot');
    src: url('roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular.woff') format('woff'),
         url('roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
