/* ==========================================================================
   Dividers styles.
   ========================================================================== */

hr {
    display: block;
    height: 1px;
    background: none;
    
    background-color: green;
}